body {
    color: #212121;
}

ul {
    list-style: none;
}

/* Site nav */
.logo {
    color: #2196F3;
}

span {
    color: #000000;
}



/* основной цвет текста #212121*/

/* вторичный цвет теста #757575*/

/* белый цвет текста #FFFFFF*/

/* цвет синего текста в навигации #2196F3*/

/* акцент #2196F3*/

/* черный цвет лого #000000*/

/* белый цвет лого и текста в футере #FFFFFF*/

/* серый цвет текста в футере rgba(255, 255, 255, 0.6)*/

/* бэкграунд цвет #F5F5F5 */